.swiper_home {
    min-width: 1200px;
    width: 100%;
    height: 460px;
    overflow: hidden;
}

.swiper_home a {
    width: 100%;
    height: 100%;
    background-size: 100%;
}


/* 登录 */

.isdenglu {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

.yonghu,.denglu {
    width: 298px;
    height: 370px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: -414px;
    z-index: 2;
    overflow: hidden;
}

.yonghuTopL {
    float: left;
}

.yonghuTopR {
    float: right;
    font-size: 13px;
    color: #333;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}

.yonghuTopRImg {
    padding: 2px 4px;
    background: #fe7109;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right: 5px;
}

.yonghuTopR img {
    width: 12px;
}

.yonghuTopRTxt {
    float: right;
    color: #333;
}

.yonghuTopL img {
    width: 52px;
    vertical-align: middle;
    border-radius: 50%;
}

.yonghuTopLTxt {
    display: inline-block;
    font-size: 13px;
    color: #777;
    line-height: 19px;
    position: relative;
    top: 11px;
}
.yonghuTopR a{
    width: 100%;
    height: 100%;
}
.yonghuTopLTxt1 {
    font-size: 18px;
    color: #333;
}

.yonghuTop {
    width: 255px;
    height: 54px;
    margin: 20px auto 0;
}
.yonghuTopJihuo{
    width: 132px;
    line-height: 40px;
    background: linear-gradient(to right, #f6a313,#fd6931);
    margin: 30px auto 36px;
    border-radius: 40px;
    box-shadow: 0px 5px 10px rgba(254,215,201,.7)
}
.yonghuTopJihuo a{
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    color: #fff;
}
.yonghuTopxinxi{
    width: 100%;
    height: 120px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.yonghuTopxinxi1{
    padding-top: 15px;
    padding-left: 20px;
    width: 260px;
    height: 18px;
    font-size: 14px;
    color: #333;
}
.yonghuTopxinxi1:nth-last-of-type(1){
    padding-bottom: 16px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.yonghuTopxinxi1 span{
    color: #777;
}
.yonghuTopjindu{
    display: inline-block;
    width: 150px;
    height: 10px;
    background: #ededed;
    border-radius: 10px;
}
.yonghuTopjindu1{
    background: #2077f7;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(213,232,253,.9);
}
.yonghuTopGG{
    width: 100%;
    height: 68px;
    position: relative;
    overflow: hidden;
}
.yonghuTopGG1{
    width: 24.5%;
    height: 100%;
    border-left: 1px solid #ddd;
    float: left;
}
.yonghuTopGG1:nth-of-type(1){
    border-left: none;
}
.yonghuTopGGIfont{
    font-size: 22px;
    color: #777;
    text-align: center;
    padding: 10px 0 3px;
}
.gonggeIfont{
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 10px 0 3px;
}
.yonghuTopGGTxt{
    font-size: 13px;
    color: #333;
    text-align: center;
}
.yonghuTopGG1:hover .yonghuTopGGIfont{
    color: #fc885c;
}
.yonghuTopGG1:hover .yonghuTopGGTxt{
    color: #fc885c;
}
/* 登录 */
.dengluTxt{
    padding: 28px 0 24px;
    font-size: 22px;
    color: #333;
    text-align: center;
}
.dengluTxtInput{
    width: 252px;
    height: 38px;
    margin-bottom: 19px;
    margin-left: 19px;
    border: 1px solid #e4e4e9;
    border-radius: 5px;
}
.dengluTxtInput input{
    width: 85%;
    height: 96%;
    border: none;
    outline: none;
    font-size: 13px;
    color: #888;
}
.dengluTxtInput .dengluTxtIfont{
    font-size: 24px;
    position: relative;
    top: 3px;
    color: #888;
    margin: 0 4px;
}
.dengluTxtInput1{
    border: none;
}
.dengluTxtInput1 input{
    width: 143px;
    height: 38px;
    padding-left: 10px;
    border: 1px solid #e4e4e9;
    border-radius: 5px;
}
.dengluTxtYZ{
    float: right;
    width: 80px;
    height: 38px;
    border: 1px solid #e4e4e9;
    border-radius: 5px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: #888;
    cursor: pointer;
}
.dengluTxt_mima{
    width: 252px;
    height: auto;
    margin-left: 19px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
}
.dengluTxtWM{
    float: left;
    color: #333;
}
.dengluTxtZC{
    float: right;
    color: #333;
}
.dengluTxtZC span{
    color: #fb6026;
}
.dengluTxtDL{
    width: 252px;
    height: auto;
    margin-top: 33px;
    margin-left: 19px;
    font-size: 18px;
}
.dengluTxtDLu,.dengluTxtJH{
    color: #fff;
    width: 114px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
}
.dengluTxtDLu{
    float: left;
    background: linear-gradient(to right,#f6a313,#fd8659)
}
.dengluTxtJH{
    float: right;
    background: linear-gradient(to right,#5292f5,#267bf8)
}
/* 轮播下方宫格 */
.gongge{
    position: relative;
    overflow: hidden;
    width: 1200px;
    margin: 40px auto 50px;
}
.gonggebox{
    width: 218px;
    height: 150px;
    padding: 10px 8px;
    float: left;
    background: #72707b;
    position: relative;
}
.gLeftImg{
    width: 307px;
    float: right;
    margin-left: 14px;
}
.gLeftImg img{
    width: 100%;
}
.gonggexinxi{
    width: 33%;
    height: 49.5%;
    float: left;
    border-right: 1px solid rgba(255,255,255,.3);
    position: relative; 
}
.gonggexinxi:nth-of-type(3n){
    border: none
}
.gonggexinxi:nth-of-type(1),.gonggexinxi:nth-of-type(2),.gonggexinxi:nth-of-type(3){
    border-bottom: 1px solid rgba(255,255,255,.3);
}
.gonggeFG,.gonggeFG1{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    background: #72707b;
}
.gonggeFG{
    left: 33.3%;
    margin-left: -2px;
}
.gonggeFG1{
    right: 33.3%;
    margin-right: -2px;
}
.gonggebox .gonggeImg{
    display: block;
    margin: 10px auto 10px;
}
.gonggebox .gonggeTxt{
    text-align: center;
    font-size: 13px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.gonggexinxi:nth-of-type(1) .gonggeImg,.gonggexinxi:nth-of-type(2) .gonggeImg,.gonggexinxi:nth-of-type(5) .gonggeImg{
    width: 27px;
}
.gonggexinxi:nth-of-type(3) .gonggeImg{
    width: 18px;
}
.gonggexinxi:nth-of-type(4) .gonggeImg{
    width: 22px;
}
.gonggexinxi:nth-of-type(6) .gonggeImg{
    width: 28px;
}

/* 新闻 */
.xinwen{
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.xinwenLeft{
    width: 715px;
    padding-right: 39px;
    border-right: 1px solid #ddd;
    float: left;
}
.xinwenRight{
    width: 405px;
    padding-left: 39px;
    float: left;
}
.xinwenLeft_title{
    width: 100%;
    height: 40px;
    position: relative;
    overflow: hidden;
}
.xinwenLeft_TList{
    float: left;
    display: inline-block;
    height: 100%;
    width: auto;
    position: relative;
    margin-right: 45px;
    font-size: 18px;
    color: #333;
}
.xinwenLeft_TList:nth-of-type(1){
    margin-left: 5px;
}
.xinwenLeft_TList .headCBCXian{
    bottom: 0;
}
.xinwenLeft_TList:hover{
	color: #fe7109
}
.xinwenLeft_TList:hover .headCBCXian{
    display: inline-block;
}
.xinwenLeft_TList1{
    float: right;
    display: inline-block;
    height: 100%;
    font-size: 14px;
    color: #666;
}
.xinwenLeft_TList1 img{
    width: 6px;
    vertical-align: middle;
}
/* 图文 */
.xinwenLeftBox{
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}
.xinwenLeftImgTxt{
    margin-right: 34px;
}
.xinwenLeftImgTxt,.xinwenLists{
    width: 338px;
    display: inline-block;
    float: left;
}
.xinwenLeftITBox{
    position: relative;
    width: 330px;
    margin-bottom: 5px
}
.xinwenLeftI{
    width: 100%;
    display: block;
}
.xinwenLeftIT{
    width: 305px;
    padding-left: 24px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    color: #fff;
    position: absolute;
    bottom: 0;
}
.xinwenList{
    width: 100%;
    height: 104px;
    padding-top: 20px;
}
.xinwenTitle,.xinwenContent,.xinwenTimer{
    width: 100%;
}
.xinwenTitle,.xinwenTimer{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.xinwenContent{
    height: 36px;
    margin: 14px 0 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 13px;
    color: #666;
}
.xinwenTitle{
    font-size: 18px;
    color: #333;
}
.xinwenListShu{
    width: 3px;
    height: 20px;
    display: inline-block;
    background: #fb6026;
    border-radius: 3px;
    margin-right: 0px;
    position: relative;
    top: 4px;
}
.xinwenTimer{
    font-size: 13px;
    color: #999;
}
.xinwenList:hover .xinwenTitle{
    color: #fb6026;
}
.xinwenLists .xinwenList{
    border-top: 1px solid #ddd;
    padding-bottom: 20px; 
}
.xinwenLists .xinwenList:nth-of-type(1){
    padding-top: 0;
    border: none;
}
.xinwenLists .xinwenList:nth-last-of-type(1){
    padding-bottom: 0;
}
/* 新闻列表右侧 */
.xinwenRight_title{
    position: relative;
    overflow: hidden;
    width: 100%;

}
.xinwenRightImg{
    width: 88px;
    float: left;
}
.xinwenRlist{
    width: 100%;
    height: 112px;
    position: relative;
    overflow: hidden;
    margin-top: 34px;
}
.xinwenRlistTxt{
    width: 230px;
    height: 100%;
    float: left;
    margin-right: 18px;
}
.xinwenRlistImg{
    width: 150px;
    float: left;
}
.xinwenRTitle{
    width: 100%;
    height: 45px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 16px;
    color: #333;
}
.xinwenRContent,.xinwenRTimer{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size: 13px;
    color: #666;
}
.xinwenRContent{
    margin: 12px 0 6px;
}
.xinwenRTimer{
    color: #999; 
}
.xinwenRlist:hover .xinwenRTitle{
    color: #fb6026;
}
/* 课程 */
.contontKeBox{
    width: 100%;
    height: 826px;
    background: #f8f8f8;
}
.contontKe{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.contontKeTop{
    position: relative;
    overflow: hidden;
    margin: 48px 0 0;
}
.contontKeLei{
    float: left;
}
.contontKeQuan{
    width: 18px;
    height: 18px;
    border: 1px solid #fc885c;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    top: 4px;
    margin-right: 5px;
}
.contontKeQuan1{
    width: 8px;
    height: 8px;
    background: #fc885c;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
}
.contontKeLists{
    position: relative;
    overflow: hidden;
    padding-top: 28px;
}
.contontKeList{
    width: 282px;
    height: 278px;
    float: left;
    margin-left: 24px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: all .2s;
    margin-top: 0;
}
.contontKeList:hover{
	margin-top: -10px;
}
.contontKeDK .contontKeList{
	height: 294px;
}
.contontKeList:nth-of-type(1){
    margin-left: 0;
}
.contontKeImg{
    width: 100%;
    display: block;
}
.contontKeListTxt{
    font-size: 16px;
    color: #333;
    line-height: 52px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    padding-left: 24px;
}
.contontKeListGoBuy{
    border-top: 1px solid #ddd;
}
.contontKePrice{
    font-size: 20px;
    color: #fb6026;
    display: inline-block;
    float: left;
    margin: 23px 0  0 20px;
}
.contontKeBuy{
    float: right;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    width: 76px;
    height: 30px;
    background: #fb6026;
    line-height: 30px;
    text-align: center;
    margin: 18px 16px 0 0;
    border-radius: 5px;
}
/* 师资 */
.contontShi{
    width: 100%;
    height: 868px;
    background: #fff;
}
.contontShiBox{
    width: 100%;
    height: 318px;
    padding-bottom: 30px;
    padding-top: 50px;
}
.contontQuanShi{
    width: 232px;
    height: 286px;
    border-radius: 10px;
    box-shadow: 0 0px 30px #f2f2f2;
    background: #fff;
    float: left;
}
.contontshiImg{
    width: 100%;
    display: block;
}
.contontQuanShiTxt1{
    padding: 36px 0 40px;
    text-align: center;
    font-size: 20px;
    color: #333;
}
.quanGengduo{
    text-align: center;
    font-size: 14px;
    color: #333;
}
.gengduo{
    width: 15px;
    height: 15px;
    border: 1px solid #aaa;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    display: inline-block;
}
.gengsuo img{
    width: 7px;
}
.contontShiList{
    width: 172px;
    height: 300px;
    float: left;
    margin-left: 21px;
    margin-top: 0;
    transition: all .2s;
}
.contontShiList:hover{
	margin-top: -10px;
}
.contontShiTxt{
    margin: 10px 0 6px;
}
.contontShiTxt1{
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}
.contontShiTxt2{
    font-size: 13px;
    color: #666;
}
.contontShiContent{
    font-size: 13px;
    color: #999;
    height: 38px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.contontZbox .contontKeTop{
    margin-top: 14px;
    margin-bottom: 40px;
}
.swiperShiziimg{
    width: 202px;
    height: 136px;
    border: 1px solid #c8932e;
}
.swiperShiziimg img{
    width: 100%;
    height: 100%;
    display: block;
}
.swiperShiziY{
    width: 210px;
    height: 1px;
    background: #f2f2f2;
    box-shadow: 0 0 18px #555;
    margin: 24px 0 20px;
}
.swiperShiziTxt1{
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}
.swiperShiziTxt2{
    font-size: 13px;
    color: #fb6026;
    text-align: center;
}
.swiperShizi .swiper-button-next{
    background: url('../img/home/jiantou2.png') no-repeat center center rgba(0, 0, 0, 0.6);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    top: 73px;
    z-index: 11;
}
.swiperShizi .swiper-button-next:hover{
    background: url('../img/home/jiantou2.png') no-repeat center center #fb6026;
}
.swiperShizi .swiper-button-prev{
    background: url('../img/home/jiantou3.png') no-repeat center center rgba(0, 0, 0, 0.6);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    top: 73px;
    z-index: 11;
}
.swiperShizi .swiper-button-prev:hover{
    background: url('../img/home/jiantou3.png') no-repeat center center #fb6026;
}
.contentBtxt{
    padding-top: 54px;
    text-align: center;
    font-size: 18px;
    color: #333;
}
.contentBtxt span{
    font-size: 40px;
    color: #fb6026;
}
.xinwenLeft_TListActive .headCBCXian{
	display: inline-block;
}
.xinwenLeft_TListActive{
	color: #fe7109
}
.swiperZheLeft{
    width: 40%;
    height: 229px;
    background: linear-gradient(to right,rgba(255,255,255,.7),rgba(255,255,255,0));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.swiperZheRight{
    width: 40%;
    height: 229px;
    background: linear-gradient(to left,rgba(255,255,255,.7),rgba(255,255,255,0));
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}