.content{
    background: #f3f3f3;
    padding-bottom: 150px;
}
.contentRight{
    min-height: 810px;
    background: #fff;
}

.certificateList{
    width: 282px;
    height: 304px;
    display: inline-block;
    margin:30px 34px 0 0;
    cursor: pointer;
    box-shadow: 0 0 30px #eee;
    border-radius: 10px;
    overflow: hidden;
}
.certificateList:nth-of-type(3n){
    margin-right: 0;
}
.certificateImg{
    width: 100%;
    display: block;
}
.certificateTxt{
    width: 100%;
    line-height: 55px;
    position: relative;
    overflow: hidden;
}
.certificateTxtB{
    border-top: 1px solid #e9e9e9;
}
.certificateTxt1{
    float: left;
    margin-left: 16px;
    font-size: 16px;
    color: #333;
}
.certificateTxt2{
    float: right;
    margin-right: 16px;
    font-size: 13px;
    color: #fff;
    width: 88px;
    line-height: 35px;
    background: #fb6026;
    margin-top: 12px;
    text-align: center;
    border-radius: 5px;
}
.certificateIcon{
    font-size: 18px;
    position: relative;
    top: 2px;
}
.certificateList:hover .certificateTxt1{
    color: #fb6026;
}