.contentLTli1 .mima {
    background: #fb6026;
    color: #fff;
    text-decoration: none;
}

.contentLTli1 .mima .commonQJ {
    color: #fff;
}

.content {
    background: #f3f3f3;
    padding-bottom: 150px;
}

.contentRight {
    height: 898px;
    background: #fff;
}

.msgContent {
    margin: 110px 0 0 210px;
    width: 570px;
}

/* 输入框 */
.msgList {
    position: relative;
    overflow: hidden;
    padding-top: 19px;
}

.msgTxt {
    display: inline-block;
    width: 80px;
    height: 42px;
    margin-right: 20px;
    font-size: 14px;
    color: #333;
    text-align: right;
    line-height: 42px;
    float: left;
}

.msgTxt span {
    color: #ff0101;
}

.msgInputBox {
    width: 334px;
    height: 42px;
    float: left;
    border: 1px solid #dddddd;
    border-radius: 5px;
    position: relative;
}

.msgInputBox .msgInput1 {
    width: 312px;
    height: 40px;
    font-size: 14px;
    color: #333;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* 验证码 */
.msgInputYz {
    width: 202px;
}

.msgInputYz .msgInput1 {
    width: 180px;
}

.passwordYZM {
    width: 110px;
    height: 100%;
    position: absolute;
    right: -130px;
    top: 0;
    line-height: 38px;
    text-align: center;
    background: url(../../img/user/yanzhengBJ.png)no-repeat center center;
    background-size: 100% 100%;
    font-size: 25px;
    color: #192c2a;
}

/* 密码格式 */
.msgTishi {
    font-size: 12px;
    color: #999;
}

.msgList1 {
    padding-top: 10px;
}

.msgList1 .msgTxt {
    height: 10px;
}

.msgList1 .msgInputBox {
    height: auto;
    border: none;
}

/* 密码提示 */
.passwordTishi {
    display: inline-block;
    position: absolute;
    width: 120px;
    right: -140px;
    top: 10px;
    font-size: 12px;
    color: #ff6f3d;
    display: none;
}

.passwordT {
    display: inline-block;
    width: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background: #ff6f3d;
    border-radius: 50%;
}

/* 换一换 */
.passwordHuan {
    right: -274px;
    cursor: pointer;
    color: #288ce6;
    display: block;
}

/* 保存 */
.msgBtn {
    line-height: 45px;
    width: 132px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    margin: 50px auto 0;
    background: #fb6e0f;
    border-radius: 5px;
    cursor: pointer;
}